<mat-toolbar fxLayout="row" fxLayoutAlign="center center" color="primary"><h4>{{data.title}}</h4></mat-toolbar>

<div class="separator"></div>

<form  name="form" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>

	<div fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto">
		
	<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
			<mat-form-field appearance="outline" fxFlex="100">
				<mat-label>{{data.type}}</mat-label>
				<input #valueInput matInput formControlName="value" type="number" autofocus required>
				<mat-error>
					<span *ngIf="form.controls['value'].hasError('required')">{{data.required}}</span>
					<span *ngIf="form.controls['value'].hasError('pattern')">Número inválido</span>
				</mat-error>
			</mat-form-field>
		</div>
	
		<div class="separator"></div>
		
		<div class="content-form-submit">
			<button mat-raised-button class="btn-form-submit" type="button" (click)="cancel()">Cancelar</button>
			<button mat-raised-button class="btn-form-submit" type="submit" color="primary"
				[disabled]="form.invalid">Aceptar</button>
		</div>

	</div>

</form>