<mat-toolbar color="primary" class="header-pages" fxLayout="row" fxLayoutAlign="space-between center">
    <div [@animate]="{value:'*',params:{x:'50px'}}">
        <span class="title">Suspensiones</span><br>
        <span class="breadcrumb">Suspensiones > Lista</span>
    </div>
</mat-toolbar>

<mat-card class="page-content-card">


    <div class="header-pages-tools">
        <div class="top-filters" [@animate]="{value:'*',params:{x:'-50px'}}">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Buscar Suspensión</mat-label>
                <input matInput (keyup)="applyFilter($event.target.value)" [(ngModel)]="SuspensionSearch">
                <mat-icon matPrefix class="secondary-text">search</mat-icon>
                <button mat-button *ngIf="SuspensionSearch" matSuffix mat-icon-button aria-label="Clear"
                    (click)="SuspensionSearch=''; applyFilter('')">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>

    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

    <div class="mat-elevation-z5" [@animate]="{value:'*',params:{y:'100%'}}">

        <table mat-table class="table-striped table-hover" [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="fechainicio">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> F. Inicio </th>
                <td mat-cell *matCellDef="let row"> {{row.fechainicio.timestamp * 1000 | date}} </td>
            </ng-container>

            <ng-container matColumnDef="fechafin">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> F. Fin </th>
                <td mat-cell *matCellDef="let row"> {{row.fechafin.timestamp * 1000 | date}} </td>
            </ng-container>

            <ng-container matColumnDef="fechacreacion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> F. Creado </th>
                <td mat-cell *matCellDef="let row"> {{row.fechacreacion.timestamp*1000 | date :'medium'}} </td>
            </ng-container>

            <ng-container matColumnDef="numeroservicio">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> N. Servicio </th>
                <td mat-cell *matCellDef="let row">
                    <a href="#" class="link" [routerLink]="['/servicio', row.idservicio]">{{row.numeroservicio}}</a> 
                </td>
            </ng-container>

            <ng-container matColumnDef="plan">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Plan </th>
                <td mat-cell *matCellDef="let row">
                    <a href="#" class="link" [routerLink]="['/plan', row.idplan]">{{row.plan}}</a> 
                </td>
            </ng-container>

            <ng-container matColumnDef="nombrestercero">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tercero </th>
                <td mat-cell *matCellDef="let row">
                    <a href="#" class="link" [routerLink]="['/tercero', row.idtercero]">{{row.nombrestercero + ' ' + row.apellidostercero}}</a>
                </td>
            </ng-container>

            <ng-container matColumnDef="municipio">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Municipio </th>
                <td mat-cell *matCellDef="let row"> {{row.municipio}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

        <div *ngIf="dataSource?.data.length < 1" class="no-date-table">
            No hay suspensiones para mostrar.
        </div>

        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons="true"></mat-paginator>
    </div>
</mat-card>