<mat-toolbar fxLayout="row" fxLayoutAlign="center center" color="primary">
	<h4>PROGRAMAR RETIRO DE SERVICIO</h4>
</mat-toolbar>

<div class="separator"></div>

<form name="form" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>

	<div fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto">

		<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
			<mat-form-field appearance="outline" fxFlex="100">
				<mat-label>Fecha de retiro de servicio</mat-label>
				<input matInput [min]="minDate" [matDatepicker]="picker" formControlName="fecharetiro" required>
				<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
				<mat-datepicker #picker></mat-datepicker>
				<mat-error>Fecha de retiro requerida</mat-error>
			</mat-form-field>
		</div>

		<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
			<mat-form-field appearance="outline" fxFlex="100">
				<mat-label>Observaciones</mat-label>
				<textarea  matInput formControlName="observaciones"></textarea>
				<mat-icon matSuffix class="secondary-text">description</mat-icon>
				<mat-hint>{{form.controls['observaciones'].value?.length}} de 300</mat-hint>
				<mat-error>Máximo 300 caracteres</mat-error>
			 </mat-form-field>
		</div>

		<div class="separator"></div>

		<div class="content-form-submit">
			<button mat-raised-button class="btn-form-submit" type="button" (click)="cancel()">Cancelar</button>
			<button mat-raised-button class="btn-form-submit" type="submit" color="primary"
				[disabled]="form.invalid">Aceptar</button>
		</div>

	</div>

</form>