<mat-toolbar color="primary" class="header-pages">
    <div [@animate]="{value:'*',params:{x:'50px'}}">
        <span class="title"> Labores </span><br>
        <span class="breadcrumb">Dashboard>Labores </span>
    </div>
</mat-toolbar>

<mat-card class="page-content-card">
    <!-- ZOna dse impresion  -->
    <div id="zonImprimir">
        <ng-container>
            <div [formGroup]="formLaboresFiltrosCuadrilla" fxLayout="row" fxLayoutAlign="space-around  center"
                [@animate]="{value:'*',params:{x:'-50px'}}">

                <div fxLayout="column" class="pr20 " fxLayoutAlign="space-around  center">
                    <button (click)="ObtenrCuadrilla()" mat-raised-button color="primary" [disabled]="loading">
                        CUADRILLA
                    </button>
                    <strong *ngIf="cusdrillaselect">
                        {{cusdrillaselect.nombres+ " "+cusdrillaselect.apellidos}} ({{cusdrillaselect.numeroservicio}})
                    </strong>
                </div>
                <div fxLayout="row" fxLayoutAlign="end center" [formGroup]="formLaboresFiltrosCuadrilla">

                    <mat-form-field appearance="outline" fxFlex="50" class="no-pb pr20" appearance="outline">
                        <mat-label>Fecha Inicial</mat-label>
                        <input formControlName="fechaInicial" matInput [matDatepicker]="fechaInicial" [attr.disabled]="loading">
                        <mat-datepicker-toggle matSuffix [for]="fechaInicial"></mat-datepicker-toggle>
                        <mat-datepicker [disabled]="loading" touchUi #fechaInicial></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="50" class="pr20 no-pb" appearance="outline">
                        <mat-label>Fechas Final </mat-label>
                        <input formControlName="fechaFinal" matInput [matDatepicker]="fechaFinal" [attr.disabled]="loading"
                            [attr.disabled]="this.formLaboresFiltrosCuadrilla.controls.fechaInicial.value==''">
                        <mat-datepicker-toggle matSuffix [for]="fechaFinal"></mat-datepicker-toggle>
                        <mat-datepicker  [disabled]="loading" touchUi #fechaFinal></mat-datepicker>
                    </mat-form-field>
                </div>
                <div fxFlex="18.5" class="top-buttons">
                    <button mat-icon-button class="pr20" matTooltip="Borrar filtros" (click)="borrarFiltro()">
                        <i class="fas fa-backspace"></i></button>
                    <button mat-mini-fab color="primary" matTooltip="Buscar"
                        [disabled]="loading ||formLaboresFiltrosCuadrilla.controls.fechaInicial.value=='' ||formLaboresFiltrosCuadrilla.controls.fechaFinal.value=='' ||  formLaboresFiltrosCuadrilla.controls.cuadrilla.value==''"
                        (click)="buscarDatosDB()">
                        <samp *ngIf="!loading">
                            <mat-icon>search</mat-icon>
                        </samp>

                        <span *ngIf="loading"><i class="fas fa-spinner fa-spin fa-lg" ></i></span>
                    </button>
                </div>
            </div>
            <button *ngIf="labores.length > 0 && !loading" matTooltip="Generar PDF" mat-mini-fab color="primary" (click)="generarPdf()" [disabled]="loading">
                <small>
                    <i class="fas fa-print"></i>
                </small>
            </button>
        </ng-container>

        <!-- fechas documento y validacioon -->
        <div class="header-pages-tools" fxLayout="column" fxLayoutAlign="center center">
            <div fxLayoutAlign="center center" [formGroup]="formLaboresFiltrosCuadrilla">
                <span>
                    Sin validación documento &nbsp;
                </span>
                <!-- [disabled]="isGraficaData" -->
                <mat-slide-toggle formControlName="validacion" (change)="buscarDatosDB()">
                    Con validación documento
                </mat-slide-toggle>
            </div>
            <h3
                *ngIf="formLaboresFiltrosCuadrilla.controls.fechaInicial.value&& formLaboresFiltrosCuadrilla.controls.fechaFinal.value&& formLaboresFiltrosCuadrilla.controls.cuadrilla.value&& labores">
                Gráfica del {{formLaboresFiltrosCuadrilla.controls.fechaInicial.value|date: "mediumDate"}} al
                {{formLaboresFiltrosCuadrilla.controls.fechaFinal.value|date: "mediumDate"}}
            </h3>
        </div>
        <ng-container>
            <h1 *ngIf="loading" fxLayoutAlign="center center" fxLayout="row">
                <span *ngIf="loading"><i class="fas fa-spinner fa-spin fa-lg"></i></span>
            </h1>
            <div fxLayout="column" fxLayout.md="column" fxLayout.sm="column" fxLayoutAlign="center center">
                <!-- Gráfica -->
                <div fxFlex="65" fxFlex.md="100" fxFlex.sm="100" [@animate]="{value:'*',params:{x:'-50px'}}"
                    [hidden]="loading || labores.length == 0">
                    <div id="chart"></div>
                </div>
                <!-- Tabla -->
                <table *ngIf="labores.length > 0 && !loading" fxFlex="35" fxFlex.md="100" fxFlex.sm="100" class="mr20"
                    [@animate]="{value:'*',params:{x:'-50px'}}" mat-table [dataSource]="dataSource">
                    <div *ngFor=" let colum  of displayedColumns; let idiceColumn = index">
                        <ng-container [matColumnDef]="colum">
                            <th mat-header-cell *matHeaderCellDef>
                                <strong>
                                    {{idiceColumn==0?"":colum}}
                                </strong>
                            </th>
                            <td mat-cell *matCellDef="let celda; let idiceFila = index; ">
                                <mat-checkbox *ngIf="idiceColumn==0" class="example-margin"
                                    [(ngModel)]="celda['status']" (change)="prepareData()">
                                </mat-checkbox>
                                <div [ngClass]="{'letrasgrices': celda['status']==false}">
                                    {{idiceColumn==1?(celda.date| date :"dd (EEE)"):(idiceColumn==2?
                                    (celda["sum"]):(idiceColumn==3? (celda["acum"] ? celda['acum'] :
                                    '-'):(idiceColumn==4?
                                    (celda["goal"]? celda['goal'] : '-'):(idiceColumn==0?
                                    (""):"-"))))}}
                                </div>

                            </td>
                            <td mat-footer-cell *matFooterCellDef>
                                <strong>
                                    {{idiceColumn==1? "Total" : (idiceColumn==2? totalTiempo :"" )}}

                                </strong>
                            </td>
                        </ng-container>
                    </div>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
                </table>
            </div>
        </ng-container>
    </div>

</mat-card>