<mat-toolbar fxLayout="row" fxLayoutAlign="center center" color="primary">
	<h4>EDITAR LABOR</h4>
</mat-toolbar>

<div class="separator"></div>
<div class="separator"></div>

<form name="form" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>

	<div fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto">

		<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
			<mat-form-field appearance="outline" fxFlex="100">
				<mat-label>Nueva Labor</mat-label>
				<mat-select formControlName="idlabor" required>
					<mat-option *ngFor="let labor of labores" [value]="labor.idlabor">{{labor.nombre}}
					</mat-option>
				</mat-select>
				<mat-error>La labor es requerido.</mat-error>
			</mat-form-field>
		</div>

		<div class="separator"></div>

		<div class="content-form-submit">
			<button mat-raised-button class="btn-form-submit" type="button" (click)="cancel()">Cancelar</button>
			<button mat-raised-button class="btn-form-submit" type="submit" color="primary"
				[disabled]="form.invalid || loading">
				<span *ngIf="!loading">Editar</span>
				<span *ngIf="loading"><i class="fas fa-spinner fa-spin fa-lg"></i></span>
			</button>
		</div>

	</div>

</form>