<mat-toolbar fxLayout="row" fxLayoutAlign="center center" color="primary"><h4>{{data.title}}</h4></mat-toolbar>

<div class="separator"></div>

<form  name="form" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>

	<div fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto">
		
	<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
			<mat-form-field appearance="outline" fxFlex="100">
				<mat-label>Nombre</mat-label>
				<input matInput formControlName="nombre" required>
				<!-- <mat-icon matSuffix class="secondary-text">account_circle</mat-icon> -->
				<mat-hint>{{form.controls['nombre'].value.length}} de 50</mat-hint>
				<mat-error>
					<span *ngIf="form.controls['nombre'].hasError('required')">Nombre es requerido</span>
					<span *ngIf="form.controls['nombre'].hasError('maxlength')">Máximo 50 caracteres</span>
				</mat-error>
			</mat-form-field>
		</div>
	
		<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
			<mat-form-field appearance="outline" fxFlex="100">
				<mat-label>Descripción</mat-label>
				<textarea matInput formControlName="descripcion"></textarea>
				<!-- <mat-icon matSuffix class="secondary-text">description</mat-icon> -->
				<mat-hint>{{form.controls['descripcion'].value.length}} de 200</mat-hint>
				<mat-error>Máximo 200 caracteres</mat-error>
			</mat-form-field>
		</div>

		<div class="separator"></div>
		<!-- <span class="error" *ngIf="error" [@animate]="{value:'*',params:{y:'50px'}}">{{error}}</span> -->

		<div class="content-form-submit">
			<button mat-raised-button class="btn-form-submit" type="button" (click)="cancel()" [disabled]="loading">Cancelar</button>
			<button mat-raised-button class="btn-form-submit" type="submit" color="primary"
				[disabled]="form.invalid || loading">{{data.entity ? 'Editar' : 'Crear'}}</button>
		</div>

		<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
	</div>

</form>