<mat-toolbar color="primary" class="header-pages">
  <div [@animate]="{value:'*',params:{x:'50px'}}">
    <span class="title"> <small>
        Solicitudes de terminación de contrato y programación de retiro
      </small> </span><br>
    <span class="breadcrumb">Dashboard>Flitros </span>
  </div>
</mat-toolbar>

<app-filtro-retiro> </app-filtro-retiro>

<!-- <mat-tab-group dynamicHeight>
  <mat-tab label="Filtro">
    <ng-template matTabContent>
      <app-filtro-retiro> </app-filtro-retiro>
    </ng-template>
  </mat-tab>
  <mat-tab label="Promedios">
    <ng-template matTabContent>
      <app-indicadores></app-indicadores>
    </ng-template>
  </mat-tab>
  <mat-tab label="Promedios">
      <ng-template matTabContent>
        <app-municipios-vs-retiros></app-municipios-vs-retiros>
      </ng-template>
    </mat-tab>
</mat-tab-group> -->


<!-- <mat-tab-group animationDuration="2000ms">
  <mat-tab label="First"><app-filtro-retiro> </app-filtro-retiro></mat-tab>
  <mat-tab label="Second">Content 2</mat-tab>
  <mat-tab label="Third">Content 3</mat-tab>
</mat-tab-group> -->